* {box-sizing: border-box;}

font-family: 'Caveat', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: Cuprum, Arial, Helvetica, sans-serif;

@media screen and (max-width: 1100px) {
  body {font: .6em Arial;}
}

@media screen and (max-width: 900px) {
  body {font: .4em Arial;}
}

body {
  background-color: #646f68;
}